In [120]:
import numpy as np
import pandas as pd
import re

In [121]:
df = pd.read_csv('Emp.csv')
df.head()

                 Category                                             Resume
0     Java Developer       ['ROBERT SMITH', '   Java Developer     ', '  ...
1           Web Developer  ['RAM', '   Web Developer     ', '   java   ',...
2     Java Developer       ['RAJA', '   Java Developer     ', '   java , ...
3        DevOps Developer  ['KAVAN', '   DevOps Developer     ', '   java...
4        Python Developer  ['Prakash', '   Python Developer     ', '   ja...

### Using Regex remove unwanted things

In [122]:
def cleanResume(resumeText):
    resumeText = re.sub('http\S+\s*', ' ', resumeText)  # remove URLs
    resumeText = re.sub('RT|cc', ' ', resumeText)  # remove RT and cc
    resumeText = re.sub('#\S+', '', resumeText)  # remove hashtags
    resumeText = re.sub('@\S+', '  ', resumeText)  # remove mentions
    resumeText = re.sub('[%s]' % re.escape(""""#$%&'()*+,-./:;<=>?@[\]^_`{|}~"""), ' ', resumeText)  # remove punctuations
    resumeText = re.sub(r'[^\x00-\x7f]',r' ', resumeText) 
    resumeText = re.sub('\s+', ' ', resumeText)  # remove extra whitespace
    return resumeText

In [123]:
df['cleaned'] = df['Resume'].apply(lambda x:cleanResume(x))
df.head()

,Category,Resume,cleaned
0,Java Developer,"['ROBERT SMITH', ' Java Developer ', ' ...",ROBE SMITH Java Developer c matlab code pytho...
1,Web Developer,"['RAM', ' Web Developer ', ' java ',...",RAM Web Developer java info 9475838374 !
2,Java Developer,"['RAJA', ' Java Developer ', ' java , ...",RAJA Java Developer java python info 94758435...
3,DevOps Developer,"['KAVAN', ' DevOps Developer ', ' java...",KAVAN DevOps Developer java python c c info 9...
4,Python Developer,"['Prakash', ' Python Developer ', ' ja...",Prakash Python Developer java python javascri...

In [124]:
#getting the entire resume text
corpus=" "
for i in range(0,len(df)):
    corpus= corpus+ df["cleaned"][i]
corpus = " ".join(corpus.split())
corpus

'ROBE SMITH Java Developer c matlab code python javascript java info 9475838374 ! RAM Web Developer java info 9475838374 ! RAJA Java Developer java python info 9475843534 ! KAVAN DevOps Developer java python c c info 94745645656 ! Prakash Python Developer java python javascript info 7345456434 !'

In [125]:
from nltk.tokenize import sent_tokenize                                                             #NLP : Tokenize
sentences1 = sent_tokenize(corpus)
print(sentences1)

['ROBE SMITH Java Developer c matlab code python javascript java info 9475838374 !', 'RAM Web Developer java info 9475838374 !', 'RAJA Java Developer java python info 9475843534 !', 'KAVAN DevOps Developer java python c c info 94745645656 !', 'Prakash Python Developer java python javascript info 7345456434 !']

In [136]:
Domain = ['Java Developer','Web Developer','Python Developer']
Lang = ['python','java','javascript']

In [137]:
from sentence_transformers import SentenceTransformer, util
model = SentenceTransformer('all-MiniLM-L6-v2')
embeddings1 = model.encode(sentences1, convert_to_tensor=True)
embeddings2 = model.encode(sentences2, convert_to_tensor=True)
cosine_scores = util.cos_sim(embeddings1, embeddings2)
for k in range(len(Domain)):
    print("Domain : ",Domain[k])
    for i in range(len(sentences1)):
        print("{} \t {} \t Score: {:.4f}".format(sentences1[i], Domain[k], cosine_scores[i][k]))
    print(" ")
    print(" ")

Domain :  Java Developer
ROBE SMITH Java Developer c matlab code python javascript java info 9475838374 ! 	 Java Developer 	 Score: 0.3917
RAM Web Developer java info 9475838374 ! 	 Java Developer 	 Score: 0.4845
RAJA Java Developer java python info 9475843534 ! 	 Java Developer 	 Score: 0.6262
KAVAN DevOps Developer java python c c info 94745645656 ! 	 Java Developer 	 Score: 0.4427
Prakash Python Developer java python javascript info 7345456434 ! 	 Java Developer 	 Score: 0.3375


Domain :  Web Developer
ROBE SMITH Java Developer c matlab code python javascript java info 9475838374 ! 	 Web Developer 	 Score: 0.4313
RAM Web Developer java info 9475838374 ! 	 Web Developer 	 Score: 0.1371
RAJA Java Developer java python info 9475843534 ! 	 Web Developer 	 Score: 0.5072
KAVAN DevOps Developer java python c c info 94745645656 ! 	 Web Developer 	 Score: 0.4808
Prakash Python Developer java python javascript info 7345456434 ! 	 Web Developer 	 Score: 0.5679


Domain :  Python Developer
ROBE SMITH Java Developer c matlab code python javascript java info 9475838374 ! 	 Python Developer 	 Score: 0.2200
RAM Web Developer java info 9475838374 ! 	 Python Developer 	 Score: 0.1657
RAJA Java Developer java python info 9475843534 ! 	 Python Developer 	 Score: 0.1916
KAVAN DevOps Developer java python c c info 94745645656 ! 	 Python Developer 	 Score: 0.2480
Prakash Python Developer java python javascript info 7345456434 ! 	 Python Developer 	 Score: 0.1660

In [146]:
for k in range(len(Lang)):
    print("Languages : ",Lang[k])
    for i in range(len(sentences1)):
        print("{} \t {} \t ||Score: {:.4f}||".format(sentences1[i], Lang[k], cosine_scores[i][k]))
    
    print(" ")
    print(" ")

Languages :  python
ROBE SMITH Java Developer c matlab code python javascript java info 9475838374 ! 	 python 	 ||Score: 0.3917||
RAM Web Developer java info 9475838374 ! 	 python 	 ||Score: 0.4845||
RAJA Java Developer java python info 9475843534 ! 	 python 	 ||Score: 0.6262||
KAVAN DevOps Developer java python c c info 94745645656 ! 	 python 	 ||Score: 0.4427||
Prakash Python Developer java python javascript info 7345456434 ! 	 python 	 ||Score: 0.3375||


Languages :  java
ROBE SMITH Java Developer c matlab code python javascript java info 9475838374 ! 	 java 	 ||Score: 0.4313||
RAM Web Developer java info 9475838374 ! 	 java 	 ||Score: 0.1371||
RAJA Java Developer java python info 9475843534 ! 	 java 	 ||Score: 0.5072||
KAVAN DevOps Developer java python c c info 94745645656 ! 	 java 	 ||Score: 0.4808||
Prakash Python Developer java python javascript info 7345456434 ! 	 java 	 ||Score: 0.5679||


Languages :  javascript
ROBE SMITH Java Developer c matlab code python javascript java info 9475838374 ! 	 javascript 	 ||Score: 0.2200||
RAM Web Developer java info 9475838374 ! 	 javascript 	 ||Score: 0.1657||
RAJA Java Developer java python info 9475843534 ! 	 javascript 	 ||Score: 0.1916||
KAVAN DevOps Developer java python c c info 94745645656 ! 	 javascript 	 ||Score: 0.2480||
Prakash Python Developer java python javascript info 7345456434 ! 	 javascript 	 ||Score: 0.1660||